<div class="container-fluid d-flex justify-content-between align-items-center"  style="background-color: #0A9A93; color: #FDFFF5;"  id="bt-Article-Prev-Next-bar">
        <div class="col-3 d-flex" id="bt-Article-Previous-Article">
            <a href="/article/show?id={{ previousId[0]['id_article'] }}">
                <div><img src="/assets/images/{{ linkPreviousPhoto[0]['link'] }}" alt="" style="width: 150px; height:100px"></div>
                <div><h5>{{ previousId[0]['title'] }}</h5></div>
            </a>
        </div>

        <div class="col-3 d-flex" id="bt-Article-Next-Article">
            <a href="/article/show?id={{ nextId[0]['id_article'] }}">
                <h5>{{ nextId[0]['title'] }}</h5>
                <img src="/assets/images/{{ linkNextPhoto[0]['link'] }}" alt="" style="width: 150px; height:100px">
            </a>
        </div>
</div>



