{% extends 'layout.html.twig' %}

{% block content %}



    <div class="container bt-search-results">
        <h2 class="text-center">Résultats de la recherche</h2>
    {% for result in results %}

        {% embed '_includes/landing_page/bt-section-article-card.html.twig' %}
            {# Custom style for card article #}
            {% block section_article_card_style %}
                bt-card-section1
                bt-bg-light-green
                bt-card-colored
            {% endblock %}
            {% block section_article_img_style %}
                bt-img-right
            {% endblock %}
            {% block section_article_author_date_style %}
                bt-date
            {% endblock %}
            {% block section_article_h3_style %}
                bt-h3
            {% endblock %}
            {% block section_article_description_style %}
                bt-description
            {% endblock %}
            {# -- END OF -- Custom style for card article #}
            {# Custom content for card article, link, titles, author and date, description, then image #}
            {% block section_article_link %}
                /article/show?id={{ result.id_article }}
            {% endblock %}
            {% block section_article_img_content %}{{ result['pictures'].pictureMain.link }}{% endblock %}
            {% block section_article_author_date_content %}
                {{ result['author'].user_name }}
                {{ result.article_created_at|date("d/m/Y") }}
            {% endblock %}
            {% block section_article_h3_content %}
                {{ result.title }}
            {% endblock %}
            {% block section_article_description_content %}
                {{ result.description_article }}
            {% endblock %}
            {# -- END OF -- Custom content for card article, link, title then image #}
        {% endembed %}

    {% endfor %}
    </div>


{% endblock %}

