{% extends 'layout.html.twig' %}
{# Custom title on the index #}
{% block title %}
    {{ parent() }} - Modification du profil
{% endblock %}
{% block content %}
    <div class="container">
        <div class ="bt-profile" ></div>
        <h1 class="text-center">Mon profil</h1>
        <div class="row">
            <div class="col">
                <form method="post" action="" class="bt-form bt-form-user">
                    <div class="row">
                        <div class="col-3">
                            <label for="firstName" class="">Prénom : </label>
                        </div>
                        <div class="col">
                            <input type="text" class="" id="firstName" name="firstName" value="{{ user.first_name }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="lastName" class="">Nom : </label>
                        </div>
                        <div class="col">
                            <input type="text" class="" id="lastName" name="lastName" value="{{ user.last_name }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="username" class="">Pseudo : </label>
                        </div>
                        <div class="col">
                            <input type="text" class="" id="username" name="username" value="{{ user.user_name }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="email" class="">Email : </label>
                        </div>
                        <div class="col">
                            <input type="email" class="" id="email" name="email" value="{{ user.email }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="birthday" class="">Date de naissance : </label>
                        </div>
                        <div class="col">
                            <input type="date" class="" id="birthday" name="birthday" value="{{ user.birthday }}">
                        </div>
                    </div>
                    {# <label for="password">Mot de passe : </label>
                    <input type="password" class="" id="password" name="password" value="{{ user.user_password }}"> #}
                    <div class="row">
                        <button type="submit" name="editUserSubmit" class="bt-button bt-button-login bt-button-edit">Modifier</button>
                    </div>
                </form>
                <div class="row bt-edit-row-lol-nimp-balek">
                    <form method="post" class="bt-user-delete">
                        <button type="submit" name="deleteUserSubmit" class="bt-button bt-button-login bt-button-edit bt-button-user-delete">Supprimer mon profil</button>
                    </form>
                </div>
            </div>
            <div class="col align-self-end d-md-flex ">
                <div class = "row justify-content-md-end">

                </div>
            </div>
        </div>
        <div class="bt-profile-article row pt-3">
            <h3 class="col px-0">Mes articles</h3>
            <div class="col d-md-flex justify-content-md-end">
                <a class="bt-button bt-button-green btn btn-primary" href="/article/add">Publier un article</a>
            </div>
        </div>

    </div>
{% endblock content %}
